footer{
    position: absolute;
    background-color: #101010;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5em;
    display: flex;
    align-items: center;
}

nav.footerNav {
    width: 100%;
}

ul.footerNavUl {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
}

li.footerNavLi {
    font-family: "Helvetica-Neue-LT-Medium";
    color: #adadad;
    padding-left: 5%;
}
li.footerNavLi:hover {
    color: #da9c0d;
}

a {
    color: inherit;
    text-decoration: inherit
}

