<header>
    <div class="logo">
        <img src="assets/images/Xenwikilogo.png" width="100" height="100" alt="placeholder">
    </div>
    <div class="pageTitle">
        <p class="titleParagraph">XenMIDI</p>
    </div>
    <nav class="topToolbar">
        <nav class="navRight">
            <button class="GT4button">Save as MIDI</button>
            <button class="GT4button">Select temperament</button>
        </nav>
        <nav class="navLeft">
            <label class="GT4label" for="setBPM">Set BPM</label>
            <input type="number" min="30" max="300" placeholder="30 ~ 300" id="setBPM" class="GT4inNumber">
            <select class="GT4select" id="chgTimeSig">
            <option>4/4</option>
            <option>5/4</option>
            <option>...</option>     
            </select>
        </nav>
    </nav>
</header>
